<div class="row">
  <div class="col-xs-6">
    <h1>Tasks</h1>
  </div>

  <div class="col-xs-1">
    <%= link_to 'New Task', new_user_path, class:"btn btn-default" %>
  </div>
</div>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>Name</h3>
    </div>

    <div class="col-xs-3">
      <h3>Email</h3>
    </div>
  </div>

  <% @tasks.each do |task| %>
    <div class="row">
      <div class="col-xs-3"><%= task.name %></div>
      <div class="col-xs-3"><%= task.email %></div>
      <div class="col-xs-1"><%= link_to 'Show', task_path(task), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_task_path(task), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Delete', task_path(task), class:"btn btn-default",
              method: :delete,
              data: { confirm: 'for real yo?' } %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>