<%= form_for @program do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@program.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @program.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="main-container" class="container"><br>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
      <li role="presentation"><a href="#volunteers" aria-controls="volunteers" role="tab" data-toggle="tab">Volunteers</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="main">
        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :name %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :name %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :manager %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.select(:coordinator, options_for_select(User.all.pluck(:name,:id), @program.coordinator), include_blank: true) %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :description %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_area :description %>
          </div>


          <div class="col-xs-1 text-right">
            <%= f.label :active %>
          </div>

          <div class="col-xs-1 edit">
            <%= f.check_box :active %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="volunteers">
        <% @program.volunteers.each do |user| %>
          <div class="row">
            <div class="col-xs-3"><%= user.name %></div>
            <div class="col-xs-3"><%= user.is_admin %></div>
            <div class="col-xs-1"><%= link_to 'Show', user_path(user), class:"btn btn-default" %></div>
            <div class="col-xs-1"><%= link_to 'Edit', edit_user_path(user), class:"btn btn-default" %></div>
            <div class="col-xs-1"><%= link_to 'Delete', user_path(user), class:"btn btn-default",
                    method: :delete,
                    data: { confirm: 'for real yo?' } %></div>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>

<% end %>



