<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Programs</h1>
    </div>

    <div class="col-xs-1">
      <%= link_to 'New Program', new_program_path, class:"btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h3>Name</h3>
    </div>

    <div class="col-xs-3">
      <h3>Coordinator</h3>
    </div>
  </div>

  <% @programs.each do |program| %>
    <% @name = User.find_by_id(program.coordinator) %>
    <% @name = @name ? @name.name : "" %>
    <div class="row">
      <div class="col-xs-3"><%= program.name %></div>
      <div class="col-xs-3"><%= @name %></div>
      <div class="col-xs-1"><%= link_to 'Show', program_path(program), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_program_path(program), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Delete', program_path(program), class:"btn btn-default",
              method: :delete,
              data: { confirm: 'for real yo?' } %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>