<div class="row">
  <div class="col-xs-6">
    <h2>Program: <%= @program.name%></h2>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Back', programs_path, class:"btn btn-default" %>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Edit', edit_program_path(@program), class:"btn btn-default" %>
  </div>
</div>

<%= render 'form' %>

<script type="text/javascript">
  $(".edit>input,.edit>textarea").attr('disabled','disabled');
</script>

