<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div id="main-container" class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
      <li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
      <li role="presentation"><a href="#programs" aria-controls="programs" role="tab" data-toggle="tab">Programs</a></li>
      <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
      <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="main">
        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :name %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :name %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :admin %>
          </div>

          <div class="col-xs-1 edit">
            <%= f.check_box :is_admin %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :phone %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :phone %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :volunteer %>
          </div>

          <div class="col-xs-1 edit">
            <%= f.check_box :is_volunteer %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :email %><br>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :address %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_area :address %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="schedule">
        <p> here is the second tab </p>
      </div>

      <div role="tabpanel" class="tab-pane" id="programs">
        <div class="row">
          <div class="col-xs-6">
            <h2>Programs</h2>
          </div>
        </div>


        <%= nested_form_for @user do |f| %>
          <%= f.fields_for :programs do |p| %>
            <div class="row">
              <div class="col-xs-3">
                <%= p.select(:id, options_for_select(Program.where(active: true).pluck(:name, :id)), include_blank: true) %>
              </div>

              <div class="col-xs-3">
                <%= p.link_to_remove "Remove", class:"btn btn-default" %>
              </div>
            </div>
          <% end %>
          <%= f.link_to_add "Add Program", :programs, class:"btn btn-default"  %>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="skills">
        <p>subform of skill and certifications</p>
      </div>

      <div role="tabpanel" class="tab-pane" id="tasks">
        <p>upcoming tasks assigned to user</p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
<% end %>


