<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Users</h1>
    </div>

    <div class="col-xs-1">
      <%= link_to 'Add Program', new_user_path, class:"btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h3>Name</h3>
    </div>

    <div class="col-xs-3">
      <h3>Email</h3>
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-xs-3"><%= user.name %></div>
      <div class="col-xs-3"><%= user.email %></div>
      <div class="col-xs-1"><%= link_to 'Show', user_path(user), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_user_path(user), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Delete', user_path(user), class:"btn btn-default",
              method: :delete,
              data: { confirm: 'for real yo?' } %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>