<div class="row">
  <div class="col-xs-6">
    <h1>New User</h1>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Back', users_path, class:"btn btn-default" %>
  </div>

  <div class="col-xs-1">
    <input type="submit" value="save" class="btn btn-default" name="commit" form="new_user"></input>
  </div>
</div>

<%= render 'form' %>
