<div class="row">
  <div class="col-xs-6">
    <h2>User: <%= @user.name%></h2>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Back', users_path, class:"btn btn-default" %>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-default" %>
  </div>
</div>

<%= render 'form' %>

<script type="text/javascript">
  $(".edit>input,.edit>textarea").attr('disabled','disabled');
</script>

