<div class="row">
  <div class="col-xs-6">
    <h1>Skills</h1>
  </div>

  <div class="col-xs-1">
    <%= link_to 'New Skill', new_skill_path, class:"btn btn-default" %>
  </div>
</div>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>Name</h3>
    </div>
  </div>

  <% @skills.each do |skill| %>
    <div class="row">
      <div class="col-xs-3"><%= skill.name %></div>
      <div class="col-xs-1"><%= link_to 'Show', skill_path(skill), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_skill_path(skill), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Delete', skill_path(skill), class:"btn btn-default",
              method: :delete,
              data: { confirm: 'for real yo?' } %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>