<%= form_for @program do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@program.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @program.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
    <li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
  </ul>

  <div id="main-container" class="container"><br>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="main">
        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :name %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :name %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :admin %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.check_box :is_admin %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :phone %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :phone %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :volunteer %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.check_box :is_volunteer %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :email %><br>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :address %>
          </div>

          <div class="col-xs-3 edit">
            <%= f.text_area :address %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="volunteers">
        <p> list of volunteers recruited </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>

<% end %>



