<div class="row">
  <div class="col-xs-6">
    <h1>Events</h1>
  </div>

  <div class="col-xs-1">
    <%= link_to 'New Event', new_event_path, class:"btn btn-default" %>
  </div>
</div>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>Name</h3>
    </div>

    <div class="col-xs-2">
      <h3>Coordinator</h3>
    </div>

    <div class="col-xs-2">
      <h3>Start</h3>
    </div>

    <div class="col-xs-2">
      <h3>Finish</h3>
    </div>
  </div>

  <% @events.each do |event| %>
    <div class="row">
      <div class="col-xs-3"><%= event.name %></div>
      <div class="col-xs-2"><%= event.coordinator %></div>
      <div class="col-xs-2"><%= event.start_date %></div>
      <div class="col-xs-2"><%= event.end_date %></div>
      <div class="col-xs-1"><%= link_to 'Show', event_path(event), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_event_path(event), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Delete', event_path(event), class:"btn btn-default",
              method: :delete,
              data: { confirm: 'for real yo?' } %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>