
@import "bootstrap-sprockets"
@import "bootstrap"
@import "darkly"

body
  padding-top: 70px

  #main, #main-container
    .row
      padding-top: 10px

  select
    color: #464545
    width: 100%
  input, textarea
    width: 100%

  input[type="checkbox"]
    overflow: hidden