<%= form_for @location do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@location.errors.count, "error") %> prohibited
        this location from being saved:
      </h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="main-container" class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
      <li role="presentation"><a href="#volunteers" aria-controls="volunteers" role="tab" data-toggle="tab">Volunteers</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="main">
        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :state %>
          </div>

          <div class="col-xs-2 edit">
            <%= f.text_field :state %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :address %>
          </div>

          <div class="col-xs-2 edit">
            <%= f.text_field :address %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :manager %>
          </div>

          <div class="col-xs-2 edit">
            <%= f.select(:manager, options_for_select(@managers_array, @location.manager), include_blank: true) %>
          </div>

          <div class="col-xs-1 text-right">
            <%= f.label :suburb %>
          </div>

          <div class="col-xs-2 edit">
            <%= f.text_field :suburb %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 text-right">
            <%= f.label :phone %><br>
          </div>

          <div class="col-xs-2 edit">
            <%= f.text_field :phone %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="volunteers">
        <p> here is the second tab </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
<% end %>
