<% if flash[:notice] %>
  <div class="row">
    <div class="label label-success col-xs-offset-4 col-xs-4">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<div class= "container">
  <div class= "row">
    <div class="col-xs-6">
      <h2>Editing Location: <%= @location.suburb%></h2>
    </div>

    <div class="col-xs-1">
      <%= link_to 'Back', locations_path, class:"btn btn-default" %>
    </div>

    <div class="col-xs-1">
      <input type="submit" value="save" class="btn btn-default" name="commit" form="edit_location_<%= @location.id%>"></input>
    </div>
  </div>
</div>

<%= render 'form' %>

