<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Locations</h1>
    </div>

    <div class="col-xs-1">
      <%= link_to 'New Location', new_location_path, class:"btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <h3>State</h3>
    </div>

    <div class="col-xs-3">
      <h3>Address</h3>
    </div>

    <div class="col-xs-3">
      <h3>Manager</h3>
    </div>
  </div>

  <% @locations.each do |location| %>
    <div class="row">
      <div class="col-xs-1"><%= location.state %></div>
      <div class="col-xs-3"><%= location.address %></div>
      <div class="col-xs-3"><%= User.find_by_id(location.manager).name %></div>
      <div class="col-xs-1"><%= link_to 'Show', location_path(location), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_location_path(location), class:"btn btn-default" %></div>
      <div class="col-xs-1"><%= link_to 'Delete', location_path(location), class:"btn btn-default",
              method: :delete,
              data: { confirm: 'for real yo?' } %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('#nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>