<div class= "row">
  <div class="col-xs-6">
    <h1>New Location</h1>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Back', locations_path, class:"btn btn-default" %>
  </div>

  <div class="col-xs-1">
    <input type="submit" value="save" class="btn btn-default" name="commit" form="new_location"></input>
  </div>
</div>

<%= render 'form' %>

