<div class= "row">
  <div class="col-xs-6">
    <h2>Location: <%= @location.suburb%></h2>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Back', locations_path, class:"btn btn-default" %>
  </div>

  <div class="col-xs-1">
    <%= link_to 'Edit', edit_location_path(@location), class:"btn btn-default" %>
  </div>
</div>

<%= render 'form' %>

