<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container header">
    <%= link_to 'Welcome to Australia', welcome_index_path, class:"navbar-brand" %>
    <div class="btn-group navbar-right" role="group" aria-label="...">
      <%= link_to 'Users', users_path, class:"btn btn-default " %>
      <%= link_to 'Programs', programs_path, class:"btn btn-default " %>
      <%= link_to 'Events', events_path, class:"btn btn-default " %>
      <%= link_to 'Tasks', tasks_path, class:"btn btn-default " %>
      <%= link_to 'Locations', locations_path, class:"btn btn-default " %>
      <%= link_to 'Skills', skills_path, class:"btn btn-default " %>
    </div>
  </div>
</nav>